/* ============== Universal Selectors ============*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*============== Google Fonts Styles ============*/
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Inter&family=Open+Sans&family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap");

/* Custom properties */
:root {
  --body-color: #ffffff;
  --header-background: #161616;
  --header-text-color: #ffffff;
  --button-background: #dd0000;
  --aside-background: #161616;
  --aside-button-background: #ffffff;
  --footer-background: #161616;
  --footer-color: #b9b9b9;
}
/*================ Common styles or Utilities ===========*/
body {
  font-family: "Poppins", sans-serif;
}

/*============== Header Sections =====================*/
.header-section {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  /* margin-bottom: 130px; */
}
.header {
  width: 80%;
  height: 80vh;
  border: 2px solid black;
  display: flex;
  background-color: var(--header-background);
  border-radius: 30px;
}
.header-text {
  width: 40%;
  height: 100%;
  margin: 111px 0;
  margin-left: 106px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.header-tile {
  font-weight: 700;
  font-size: 70px;
  color: var(--header-text-color);
}
#header-description {
  font-weight: 400;
  font-size: 16px;
  color: var(--header-text-color);
}
.header-text a {
  margin-top: 20px;
  text-decoration: none;
  border: 2px solid red;
  width: 187px;
  height: 56px;
  background-color: var(--button-background);
  /* color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-button {
  color: white;
  background-color: var(--button-background);
  border: none;
  font-weight: 500;
  font-size: 20px;
}
.header-image {
  width: 60%;
  height: 100%;
}
